<h1>로그인</h1>
<%= flash[:alert] %>
<%= form_tag sessions_path do %>
    Email / ID / Nickname: <%= text_field_tag :identification or :email %><br>
    Password: <%= password_field_tag :password %><br>
    <%= submit_tag '로그인' %>
<% end %>
