<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= current_user.email %>님 환영합니다! || <%= link_to '로그아웃', session_path(current_user.id), method: :delete %>
  <%= link_to '어드민 권한', edit_user_path(current_user.id) %>
  <%= link_to 'Moder 권한', users_edit_mod_path(current_user.id) %>
<% else %>
  <%= link_to '회원가입', new_user_path %> || <%= link_to '로그인', new_session_path %><br>
<% end %>

<%= yield %>

</body>
</html>
